<!DOCTYPE html>
<html>
<head>
	<title>College Cleaners</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/clients.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-app="Clients" ng-controller="ClientCtrl">
	<!-- top nav bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
				</a>
			</div>
			<p ng-hide="signedIn" class="navbar-text right">Not currently signed in - <a href="#" class="navbar-link">Sign in</a></p>
			<p ng-show="signedIn" class="navbar-text right">Signed in as <a href="#" class="navbar-link">{{user.name}}</a></p>

		</div>
	</nav>
	<!-- end nav bar -->
	<!-- everything else -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>Put your cleaning request in below</h2>
				<hr/>
			</div>
		</div>
		<div class="row">
			<!-- left sidebar -->
			<div class="sidebar col-sm-4 col-xs-12">
				<h3>Sidebar Info</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean cursus tellus nec ante molestie, non interdum nunc dapibus. Etiam rhoncus iaculis diam, at fermentum tortor consequat nec. In condimentum, ante eget lacinia sodales, sapien augue auctor libero, non rhoncus tellus odio feugiat massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean ullamcorper ultrices ex, eu sodales est tempor eget. Aenean in laoreet leo, facilisis vestibulum arcu. Nullam ornare arcu eget tellus pulvinar, vel suscipit purus fermentum. Curabitur quis ante porta, malesuada neque a, vehicula magna. Duis ut venenatis justo, sit amet faucibus eros.
				</p>
			</div>
			<!-- main stuff -->
			<!-- asks you to sign in -->
			<div ng-hide="signedIn" class="col-sm-8 col-xs-12">
				<h2>Please sign in first:</h2>
				<form role="form">
					<div class="form-group col-sm-6">
						<label>What is your name?</label>
						<input class="form-control" ng-model="user.name" type="text" placeholder="Your name">
					</div>
					<div class="form-group col-sm-6">
						<label>What is your email?</label>
						<input class="form-control" ng-model="user.email" type="email" placeholder="Your email">
					</div>
					<button class="btn btn-primary" ng-click="signIn(user)">Submit</button>
				</form>
			</div>
			<!-- input request -->
			<div ng-show="signedIn" class="main-content col-sm-8 col-xs-12" ng-controller="FormCtrl">
				<h2>Welcome, {{name}}!</h2>
				<form role="form">
					<div class="form-group">
						<label for="page_title">Request Title</label>
						<input name="page_title" type="text" class="form-control" ng-model="request.title" placeholder="Summarize the request">
					</div>
					<div class="row">
						<div class="col-sm-6 form-group">
							<label for="page_title">Author</label>
							<input ng-disabled="true" name="page_title" type="text" class="form-control" ng-model="request.author" placeholder="Your name">
						</div>
						<div class="col-sm-3 form-group">
							<label for="page_title">College</label>
							<input name="page_title" type="text" class="form-control" ng-model="request.college" placeholder="DC">
						</div>
						<div class="col-sm-3 form-group">
							<label for="page_title">Suite</label>
							<input name="page_title" type="text" class="form-control" ng-model="request.suite" placeholder="H22">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 form-group">
							<label ng-click="debug()" for="page_title">Dirtiness Level</label>
							<select class="form-control">
							  <option ng-repeat="level in dirtyRange">{{level}}</option>
							</select>
						</div>
						<div class="col-sm-6 form-group">
							<label for="page_title">Payment</label>
							<label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
						    <div class="input-group">
						      <div class="input-group-addon">$</div>
						      <input type="text" class="form-control" ng-model="request.payment" placeholder="Amount">
						    </div>
						</div>
					</div>
					<div class="form-group">
						<label for="page_title">Available Times</label>
						<input name="page_title" type="text" class="form-control" ng-model="request.times">
					</div>
					<div class="form-group">
						<label for="body_content">Additional Comments</label>
						<textarea name="page_content" rows="5" class="form-control"></textarea>
					</div>
					<button class="btn btn-primary" ng-click="addRequest(request)">Submit</button>
				</form>
			</div>
		</div>
	</div>


</body>
<script src="angular/angular.min.js"></script>
<script src="js/app-clients.js"></script>
<script src="js/controllers/ClientCtrl.js"></script>
<script src="js/controllers/FormCtrl.js"></script>
<script src="js/factories/FormSubmitFactory.js"></script>
<script src="js/main.js"></script>
</html>