<!DOCTYPE html>
<html>
<head>
	<title>College Cleaners</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<!-- top nav bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
				</a>
			</div>
		</div>
	</nav>
	<!-- end nav bar -->
	<!-- everything else -->
	<div class="container">
		<div class="row">
			<!-- left sidebar -->
			<div class="sidebar col-lg-4">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean cursus tellus nec ante molestie, non interdum nunc dapibus. Etiam rhoncus iaculis diam, at fermentum tortor consequat nec. In condimentum, ante eget lacinia sodales, sapien augue auctor libero, non rhoncus tellus odio feugiat massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean ullamcorper ultrices ex, eu sodales est tempor eget. Aenean in laoreet leo, facilisis vestibulum arcu. Nullam ornare arcu eget tellus pulvinar, vel suscipit purus fermentum. Curabitur quis ante porta, malesuada neque a, vehicula magna. Duis ut venenatis justo, sit amet faucibus eros.
				</p>
			</div>
			<!-- main stuff -->
			<div class="main-content col-lg-8">
				<p>
					Vestibulum imperdiet leo ut congue auctor. Donec imperdiet mi sit amet nibh suscipit tincidunt. Morbi eleifend posuere euismod. Fusce tempus diam purus, a ultrices purus consequat nec. Vestibulum mollis quis quam in faucibus. Nam vel mi neque. Vivamus eleifend erat sed urna blandit tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc eget fringilla ante. Donec eget gravida massa. Aenean a purus sit amet felis iaculis luctus. Duis ut lectus a ligula cursus pharetra vehicula sit amet mauris. Pellentesque egestas, quam vel varius facilisis, quam augue varius tellus, eu maximus quam lorem tristique lorem. Nam eget orci nibh. Etiam a augue neque. Aliquam et sem magna.
				</p>
			</div>
		</div>
	</div>
</body>
<script src="js/app.js"></script>
<script src="js/main.js"></script>
</html>