body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.service-choice {
	/*margin-left: 40px;*/
	/*margin-right: 40px;*/
	padding-bottom: 50px;
}

.panel * {
	text-align: center;
}

* {
	text-align: center;
}

.copyright {

}

.sidebar {
	/*position: fixed;*/
	overflow-y: scroll;
}

.page-heading {
	margin-bottom: 20px;
	/*padding-bottom: 9px;*/
	border-bottom: 1px solid #eee;
}

.right {
	float: right;
	margin-right: 15px;
}
