body {
  padding: 20px;
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.main-content {
	padding-bottom: 25px;
}

.panel * {
	text-align: center;
}

* {
	text-align: center;
}

/* for the collapsing navbar */
@media (max-width: 768px) {
	.navbar-collapse{
		clear: both;
	}
}


.navbar .navbar-header {
	float: left;
}

#paymentInput {
	float: none;
}

.page-heading {
	margin-bottom: 20px;
	/*padding-bottom: 9px;*/
	border-bottom: 1px solid #eee;
}

.right {
	float: right;
	margin-right: 15px;
}

.sidebar {
	overflow-y: scroll;
	/*kinda hacky but it works*/
	height: calc(100vh - 150px);
}

.button {
	margin: 10px;
}
