<div ng-hide="register">
	<div class="col-sm-8 col-xs-12">
		<h2>Please sign in first:</h2>
		<form role="form" name="sign" ng-submit="signIn(user)">
			<div class="form-group col-sm-6">
				<label>What is your username?</label>
				<input class="form-control" ng-model="user.username" type="text" placeholder="Your name" required>
			</div>
			<div class="form-group col-sm-6">
				<label>What is your password?</label>
				<input class="form-control" ng-model="user.password" type="password" placeholder="Your password" required>
			</div>
			<button class="btn btn-primary" type="submit">Submit</button>
			<a class="btn btn-warning" ng-click="startRegister()">Register new user</a>

		</form>
		<h2 ng-show="badUser">Could not find that username</h2>
		<h2 ng-show="badPswd">Incorrect password</h2>
	</div>

</div>
<div ng-show="register" class="col-sm-8 col-xs-12">
	<h2>Please put your info below</h2>
	<form role="form" name="newUser" ng-submit="registerUser(user)">
		<div class="form-group col-sm-6">
			<label>Name</label>
			<input class="form-control" ng-model="user.name" type="text" placeholder="Your name" required>
		</div>
		<div class="form-group col-sm-6">
			<label>Email</label>
			<input class="form-control" ng-model="user.email" type="email" placeholder="Your email" required>
		</div>
		<div class="form-group col-sm-6">
			<label>Residential College</label>
			<input class="form-control" ng-model="user.college" type="text" placeholder="Your college" required>
		</div>
		<div class="form-group col-sm-6">
			<label>Username</label>
			<input class="form-control" ng-model="user.username" type="text" placeholder="Your username" required>
		</div>
		<div class="form-group col-sm-6">
			<label>Password</label>
			<input class="form-control" ng-model="user.password" type="password" placeholder="Your password" required>
		</div>
		<div class="form-group col-sm-6">
			<button class="btn btn-primary" type="submit">Submit</button>
		</div>
	</form>
</div>